body {
    background-color: rgba(0, 0, 0, 0.951);

}

.navBar {
    display: flex;
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
}

.logo {
    border-radius: 30px;
    width: 400px;
    height: 400px;
}

.logo-2 {
    height: 80px;
    border-radius: 60px;
    box-shadow: 0px 0px 20px rgba(129, 105, 39, 0.175);
}

.navBarBox {
    display: flex;
    margin-left: 70%;
    margin-top: 10px;
    justify-content: space-around;
    gap: 90px;
}

a {
    font-size: 15px;
    color: rgb(204, 204, 204);
}

.imgContainer {
    height: 300px;
    width: 100%;
    margin: 80px auto;
    margin-bottom: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    overflow: hidden;
}

.imgContainer img {
    max-width: 100%;
    margin: 5px;
    border-radius: 10px;
}


.front-images {
    height: 230px;
}

.name {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    font-family: cursive;
    color: bisque;
}

.aboutUs {
    display: flex;
    justify-content: center;
    justify-content:space-around;
    gap: 0px;
    margin-top: 80px;
}

.aboutJohnny {
    background-color: rgb(240, 248, 255);
    height: 280px;
    width: 30%;
    border-radius: 10px;
}

.aboutJohnny:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.aboutCisco {
    background-color: aliceblue;
    height: 280px;
    width: 30%;
    border-radius: 10px;
}

.aboutCisco:hover {
    cursor: pointer;
    transform: scale(1.05);
}

h3 {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#seblorImg {
    display: block;
    height: 100px;
    margin: 0 auto;
    border-radius: 60px;
}

#ciscoImg {
    display: block;
    height: 100px;
    margin: 0 auto;
    border-radius: 60px;
}

#seblorImg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#ciscoImg:hover {
    cursor: pointer;
    transform: scale(1.1);
}
/* About  */

.mapContainer {
    display: flex;
    margin-top: 6%;
    margin-left: 10%;

}

.cardInfo {
    background-color: rgba(255, 255, 255, 0.518);
    height: 250px;
    width: 250px;
    border-radius: 30px;
}

#card {
    font-size: 50px;
    color: aliceblue;
    margin-top: 30px;
}

#map {
    height: 600px;
    width: 700px;
    margin-left: 20%;
    border-radius: 10px;
}

#cardText {
    margin-top: -5px;
    color: aliceblue;
}

.Office {
    background-color: rgba(255, 255, 255, 0.518);
    height: 250px;
    width: 250px;
    border-radius: 30px;
    margin-top: 40px;
}

/* Gallery starts right here */

.gallery {
    width: 1400px;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    margin-top: 40px;
}

.gallery div img {
    height: 240px;
    filter:grayscale(40%);
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#backBtn, #nextBtn {
    width: 30px;
    cursor: pointer;
    margin: 20px;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

/* footer starts here */

footer {
    margin-top: 150px;
    height: 300px;
    width: 100%;
    background-color: rgba(161, 161, 161, 0.657);
}

#footer-container {
    display: flex;
}

.contact {
    text-align: center;
}

.contact h1, .social-media h1 {
    font-family: cursive;
}

.social-media {
    margin-left: 15%;
    margin-top: 50px;
}

.social-container {
    display: flex;
}

#social-title {
    text-align: center;
}

.facebook, .instagram, .twitter, .tiktok {
    height: 40px;
    margin: 10px;
    margin-top: -5px;
}

.tiktok {
    border-radius: 12px;
}

.story, .service {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 150px;
    color: aliceblue;
    text-align: center;
}

.our-story, .our-services {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

.story-text, .service-text {
    margin-top: 50px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 1.5;
}

.service {
    border: 1px solid rgb(93, 13, 13);
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 20px;
    background-color: rgb(22, 22, 22);
}

.our-barbers {
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.subscribe {
    margin-left: 250px;
    margin-top: 100px;
}

input {
    background-color: rgba(161, 161, 161, 0.657);
    height: 40px;
    width: 300px;
    border: 2px solid black;
}

input::placeholder {
    color: black;
}

button {
    background-color: black;
    color: aliceblue;
    height: 40px;
    width: 60px;
    border: 2px solid black;
}

.offers {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}